html {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

#top {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 30px;
    max-height: 100px;
    background: black;
    color: white;
    text-align: center;
}

#content {
    position: absolute;
    top: 18%;
    left: 5%;
    right: 5%;
    transform: translate(0, 0);
}

#foot {
    position: absolute;
    bottom: 0;
    min-height: 30px;
    max-height: 100px;
    width: 100%;
    background: purple;
    color: gray;
    text-align: center;
}

.menus {
    text-align: center;
    border-radius: 15px;
    background: red;
    color: white;
    height: 20px;
    width: 340px;
    margin-bottom: 30px;
    margin-left: 35%;
    padding-bottom: 40px;
    line-height: 1.8;
}

thead *,
tfoot * {
    font-weight: bold;
}

table,
tr,
th,
td {
    border: 1px solid black;
    border-spacing: 0;
    border-radius: 20px;
}

tr {
    min-width: 400px;
    max-width: 400px;
}

td {
    min-width: 200px;
    max-width: 200px;
    padding: 5px;
    background: orange;
}

table {
    background: purple;
}